/* fonts */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-variant-numeric: slashed-zero;
  font-family: system-ui, sans-serif;
}

:root {
  --ui-text-color-dark: #222;
  --ui-text-color-light-dark: #444;
}

html {
  min-height: 100lvh;
  /* cursor: ; */
  body {
    min-height: inherit;
  }
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.evenly {
    justify-content: space-evenly;
  }
}

.grid {
  display: grid;
}

/* .c-pointer {
} */
